<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Calendar</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  
  <script type="text/x-handlebars">
      {{outlet}}
  </script>
  
  <script type="text/x-handlebars" id="date">
  <div class="calendar-wr">
    <table class="calendar">
      <thead class="calendar-header">
        <tr>
          <th>
              <a href="#" class="btn btn-default" {{ action "prevYear" }}>‹</a>
          </th>
          <th>
              <a href="#" class="btn btn-default" {{ action "prevMonth" }}>‹</a>
          </th>
          <th colspan=3 class="switch">{{year}} {{month-to-string month}} {{day}}</th>
          <th>
              <a href="#" class="btn btn-default" {{ action "nextMonth" }}>›</a>
          </th>
          <th>
              <a href="#" class="btn btn-default" {{ action "nextYear" }}>›</a>
          </th>
        </tr>
        <tr>
          <th>Mo</th>
          <th>Tu</th>
          <th>We</th>
          <th>Th</th>
          <th>Fr</th>
          <th>Sa</th>
          <th>Su</th>
        </tr>
      </thead>
      <tbody class="calendar-body">
        {{#each week in getWeeks}}
          <tr>
            {{#each day in week}}
              <td {{bind-attr class=":day day.isCurrent:current day.isSelected:active"}} {{action "selectDay" day}}>{{day.number}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  </script>
  <script src="js/libs/jquery/dist/jquery.min.js"></script>
  <script src="js/libs/handlebars/handlebars.min.js"></script>
  <script src="js/libs/ember/ember.js"></script>
  <script src="js/app.js"></script>
  <script src="js/router.js"></script>
  <script src="js/controllers/date_controller.js"></script>
  <script src="js/helpers/helpers.js"></script>
</body>
</html>
